Repository Electron-Cash/Electron-Cash, pull requests merged in 2019-10, with the labels that each got.

#1637 prefer verbatim scriptSig for (re)serializing complete transaction inputs
  lib/tests/test_transaction.py
  lib/transaction.py
Labels: bug

#1642 Add Swahili to the language list
  lib/i18n.py
Labels: i18n & Translation

#1644 Android: allow specifying a server which isn't in servers.json
  android/app/src/main/java/org/electroncash/electroncash3/Network.kt
Labels: android

#1646 Addresses tab: hide all empty change addrs, not just used ones
  gui/qt/address_list.py
  lib/wallet.py
Labels: UX and usability

#1633 Added create/restore functionality in RPC, fixes
  .gitignore
  lib/commands.py
  lib/mnemonic.py
  lib/simple_config.py
  lib/tests/test_wallet.py
  lib/wallet.py
Labels: enhancement

#1654 iOS: Fixes for iOS 13.0+ and other miscellany
  ios/CustomCode/CWStatusBarNotification/CWStatusBarNotification.h
  ios/CustomCode/CWStatusBarNotification/CWStatusBarNotification.m
  ios/ElectronCash/electroncash_gui/ios_native/appdelegate.py
  ios/ElectronCash/electroncash_gui/ios_native/gui.py
  ios/ElectronCash/electroncash_gui/ios_native/send.py
  ios/ElectronCash/electroncash_gui/ios_native/utils.py
Labels: ios, workarounds
