Repository Electron-Cash/Electron-Cash, pull requests merged in 2020-09, with the labels that each got.

#1983 [fusion] include 'distinct coins' concept when enforcing privacy threshold
  plugins/fusion/fusion.py
  plugins/fusion/plugin.py
Labels: Cash Fusion, Security & Privacy

#1988 android: Sign transaction with schnorr
  android/app/src/main/java/org/electroncash/electroncash3/Send.kt
Labels: android, enhancement

#1989 Network dialog: Add capitalized Tor binary name
  gui/qt/network_dialog.py
Labels: i18n & Translation

#1986 Android: add Load & Sign unbroadcasted tx
  android/app/src/main/java/org/electroncash/electroncash3/ColdLoad.kt
  android/app/src/main/java/org/electroncash/electroncash3/Main.kt
  android/app/src/main/java/org/electroncash/electroncash3/Send.kt
  android/app/src/main/python/electroncash_gui/android/strings.py
  android/app/src/main/res/drawable/ic_paste_24dp.xml
  android/app/src/main/res/layout/load.xml
  android/app/src/main/res/menu/wallet.xml
Labels: android, enhancement

#2003 Ledger: Fix warning about unverified inputs
  plugins/ledger/ledger.py
Labels: UX and usability, hardware wallets, multisig wallets

#2007 Add ASERT tests
  lib/tests/test_asert.py
Labels: tests

#2008 Ledger: Test firmware version for trusted input requirement
  plugins/ledger/ledger.py
Labels: bug, hardware wallets
