Repository Electron-Cash/Electron-Cash, pull requests merged in 2021-08, with the labels that each got.

#2316 Add "spend only fused coins" to Send tab
  electroncash_gui/qt/main_window.py
  electroncash_plugins/fusion/conf.py
  electroncash_plugins/fusion/plugin.py
  electroncash_plugins/fusion/qt.py
  electroncash_plugins/fusion/util.py
Labels: Cash Fusion, UX and usability

#2325 fusion: Add depth checks
  electroncash_plugins/fusion/conf.py
  electroncash_plugins/fusion/plugin.py
  electroncash_plugins/fusion/qt.py
Labels: enhancement, UX and usability, WantWantWant, Cash Fusion

#2329 fusion: Clarify status of coins on fused address
  electroncash_plugins/fusion/qt.py
Labels: Cash Fusion

#2326 Add exchange ratio for ARS
  electroncash/currencies.json
  electroncash/exchange_rate.py
Labels: Exchange Rate
