Repository Electron-Cash/Electron-Cash, pull requests merged in 2022-08, with the labels that each got.

#2466 Tor: Fix closing of stdout on Windows
  electroncash/tor/controller.py
Labels: bug, Windows, Cash Fusion

#2470 AppImage: Fix package versions and add cargo dependency
  contrib/build-linux/appimage/Dockerfile_ub1804
Labels: packaging, Linux

#2462 Normalise exchange rate
  electroncash/exchange_rate.py
Labels: code quality
